@import url("./normalize.css");

* {
  -webkit-overflow-scrolling: touch;
}

:root {
  --theme-bg-color: #fafafa;
  --theme-font-color: #000000;
  --theme-box-color: #ffffff;
  --theme-slogan-color: linear-gradient(
    45deg,
    rgba(43, 115, 175, 1) 0%,
    rgba(43, 115, 175, 0.4) 100%
  );
}

html {
  font-size: 62.5%;
}

html body #__next {
  font-family: "STZhongsong";
}

a {
  text-decoration: none;
  color: var(--theme-font-color);
}

img {
  vertical-align: top;
}

.flexElement {
  display: flex;
  justify-content: center;
  align-items: center;
}
