@import url("./normalize.css");

* {
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 62.5%;
}

html body #root .layout {
  min-height: 100vh;
  background-color: #fafafa;
  font-family: "STZhongsong";
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  vertical-align: top;
}

.flexElement {
  display: flex;
  justify-content: center;
  align-items: center;
}
