.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--theme-bg-color);
  transition: color 0.6s, background-color 0.6s;

  .articleLayout {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
