.pageLayout {
  min-height: 100vh;

  .pageLayout__header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
  }

  .pageLayout__content {
    padding: 24px;
    margin-top: 24px;

    &-box {
      background: #ffffff;
    }
  }
}
